{% extends "base.html" %}

{% block title %}{{ project.title }} | Portfolio{% endblock title %}

{% block page_content %}
<div class="container mt-5">
    <div class="row mb-4 pt-3">
        <div class="col">
            <h1 class="display-5">{{ project.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mb-4">
            <div class="image-container rounded shadow overflow-hidden" style="max-height: 450px; display: flex; align-items: center; justify-content: center;">
                {% if project.image %}
                    <img src="{{ project.image.url }}" class="img-fluid" alt="{{ project.title }}" style="width: 100%; object-fit: contain;">
                {% else %}
                    <img src="https://via.placeholder.com/800x450" class="img-fluid" alt="Project placeholder">
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">About the project:</h5>
                    <p class="card-text">{{ project.description }}</p>
                    
                    <hr class="my-4">
                    
                    <h5 class="card-title">Technology used:</h5>
                    <p class="card-text">{{ project.technology }}</p>
                    
                    {% if project.github_link %}
                    <hr class="my-4">
                    <a href="{{ project.github_link }}" class="btn btn-outline-dark" target="_blank">
                        <i class="bi bi-github"></i> View on GitHub
                    </a>
                    {% endif %}
                
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-4 pb-3">
        <div class="col">
            <a href="{% url 'project_index' %}" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-left"></i> Back to Projects
            </a>
            <a href="{{ project.url }}" target="_blank" class="btn btn-dark">
                Visit
            </a>
        </div>
    </div>
</div>
{% endblock page_content %}
